.talentos_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2em;

    margin-bottom: 5em;
}

.talentos__chamada {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2em;
}

.talentos__status {
    font-size: 14px;
    color: var(-cor-marrom-escuro);
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    padding: 4px 12px;
    border-radius: 16px;
    background: rgba(142, 36, 36, 0.05);
}

.talentos__titulo {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -0.72px;
    line-height: 44px;
    color: var(--cor-cinza-escuro);
}

.talentos__texto {
    font-size: 20px;
    line-height: 30px;
    color: var(--cor-cinza-claro);
}

.talentos__imagem {
    height: auto; 
    max-width: 90%;
}